<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Registro de usuarios{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles_registro.css">
    
</head>
<body>
    <div class="register-container flex-container">
        <h2>Registro de Usuarios</h2>
        <form action="" method="post" novalidate class="register-form">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="nombre">{{ form.nombre.label }}</label>
                {{ form.nombre(size=64, class_="input-field") }}
                {% for error in form.nombre.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="input-group">
                <label for="apellido_paterno">{{ form.apellido_paterno.label }}</label>
                {{ form.apellido_paterno(size=64, class_="input-field") }}
                {% for error in form.apellido_paterno.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="input-group">
                <label for="apellido_materno">{{ form.apellido_materno.label }}</label>
                {{ form.apellido_materno(size=64, class_="input-field") }}
                {% for error in form.apellido_materno.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="input-group">
                <label for="fecha_nacimiento">{{ form.fecha_nacimiento.label }}</label>
                {{ form.fecha_nacimiento(type="date", class_="input-field") }}
                {% for error in form.fecha_nacimiento.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="input-group">
                <label for="nickname">{{ form.nickname.label }}</label>
                {{ form.nickname(size=64, class_="input-field") }}
                {% for error in form.nickname.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="input-group">
                <label name = "password" for="password">{{ form.password.label }}</label>
                {{ form.password(class_="input-field") }}
                {% for error in form.password.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="input-group">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(class_="input-field") }}
                {% for error in form.email.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="input-group">
                {{ form.submit(class_="btn-submit") }}
            </div>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
