{% extends 'base.html' %}

{% set style_file = 'styles_lista_users.css' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
    <h1>Lista de Usuarios</h1>
    <form method="get">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ request.args.get('nombre') }}">
        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
            <option value="">Todos</option>
            <option value="True" {% if request.args.get('estado') == "True" %}selected{% endif %}>Activo</option>
            <option value="False" {% if request.args.get('estado') == "False" %}selected{% endif %}>Inactivo</option>
        </select>
        <button type="submit">Buscar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Email</th>
                <th>Fecha de Nacimiento</th>
                <th>Estado</th>
                <th>Nickname</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.nombre + " " + user.apellido_paterno + " " + user.apellido_materno }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.fecha_nacimiento }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.nickname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}